@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model BTL.Models.Login
<div class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="location">
                    <ul>
                        <li><a asp-controller="Store" asp-action="Index" title="go to homepage">Home<span>/</span></a>  </li>
                        <li><strong>Register page</strong></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-area ptb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Register</h2>
                            <span>Please Register using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                            <form asp-controller="Register" asp-action="Register" method="post">
                                <input asp-for="LoginName" type="text" name="LoginName" placeholder="Username">
                                <input asp-for="Password" type="password" name="Password" placeholder="Password">
                                <input name="user-email" placeholder="Email" type="email">
                                <div class="button-box">
                                    <button type="submit" class="default-btn">Register</button>
                                    @if (TempData["KhongThanhCong"] != null)
                                    {
                                        <div>@TempData["KhongThanhCong"]</div>
                                        TempData["KhongThanhCong"] = null;
                                    }
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>