@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="top-link">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 col-sm-9 hidden-xs">
                <div class="site-option">
                    <ul>
                        <li class="language">
                            <a href="#">English <i class="fa fa-angle-down"></i> </a>
                            <ul class="sub-site-option">
                                <li><a href="#">English</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="call-support">
                    <p>Call support free: <span> (800) 123 456 789</span></p>
                </div>
            </div>
            <div class="col-md-2 col-sm-3">
                <div class="dashboard">
                    <div class="account-menu">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <ul>
                                    <li><a asp-controller="MyAccount" asp-action="Index">My Account</a></li>
                                    <li><a asp-controller="WhistList" asp-action="Index">My Wishlist</a></li>
                                    <li><a asp-controller="BlogDetails" asp-action="Index">Blog</a></li>
                                    <li><a asp-controller="Login" asp-action="Index">Log in</a></li>
                                    <li><a asp-controller="Register" asp-action="Index">Register</a></li>
                                    <li><a asp-controller="Login" asp-action="Logout">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="cart-menu">
                        <ul>
                            <li>
                                <a href="/Cart"><img src="~/img/icon-cart.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu-area product-items">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a asp-controller="Store" asp-action="Index">
                        <img src="~/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="mainmenu">
                    <nav>
                        <ul>
                            <li>
                                <a asp-controller="Store" asp-action="Index">Home</a>
                            </li>
                            <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <div class="sub-menu pages">
                                    <span>
                                        <a asp-controller="Contact" asp-action="Index">Contact</a>
                                    </span>
                                    <span>
                                        <a asp-controller="Shop" asp-action="Index1">Shop list</a>
                                    </span>
                                    <span>
                                        <a asp-controller="Single_product" asp-action="Index">Single Shop</a>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="mobile-menu">
                    <nav>
                        <ul>
                            <li>
                                <a asp-controller="Store" asp-action="Index">Home</a>
                            </li>
                            <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul>
                                    <li><a asp-controller="AboutUs" asp-action="Index">About us</a></li>
                                    <li><a asp-controller="Store" asp-action="Index">Blog</a></li>
                                    <li><a asp-controller="BlogDetails" asp-action="Index">Blog Details</a></li>
                                    <li><a asp-controller="Cart" asp-action="Index">Cart</a></li>
                                    <li><a asp-controller="Checkout" asp-action="Index">Checkout</a></li>
                                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                                    <li><a asp-controller="MyAccount" asp-action="Index">My account</a></li>
                                    <li><a asp-controller="Shop" asp-action="Index">Shop</a></li>
                                    <li><a asp-controller="Shop" asp-action="Index1">Shop list</a></li>
                                    <li><a asp-controller="Single_product" asp-action="Index">Single Shop</a></li>
                                    <li><a asp-controller="WhistList" asp-action="Index">Wishlist</a></li>
                                    <li><a asp-controller="Login" asp-action="Index1">login page</a></li>
                                    <li><a asp-controller="Register" asp-action="Index1">register page</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>