
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <h2>NEW PRODUCTS</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="new-product-slider">
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-new">
                        <span>new</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/25.png" alt="" class="primary-img">
                            <img src="~/img/product/26.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-sale">
                        <span>sale</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/3.png" alt="" class="primary-img">
                            <img src="~/img/product/4.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-sale">
                        <span>sale</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/2.png" alt="" class="primary-img">
                            <img src="~/img/product/8.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-sale">
                        <span>sale</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/1.png" alt="" class="primary-img">
                            <img src="~/img/product/2.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/17.png" alt="" class="primary-img">
                            <img src="~/img/product/18.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-new">
                        <span>new</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/19.png" alt="" class="primary-img">
                            <img src="~/img/product/20.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="level-pro-sale">
                        <span>sale</span>
                    </div>
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/21.png" alt="" class="primary-img">
                            <img src="~/img/product/22.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="single-product">
                    <div class="product-img">
                        <a asp-controller="Single_product" asp-action="Index">
                            <img src="~/img/product/23.png" alt="" class="primary-img">
                            <img src="~/img/product/24.png" alt="" class="secondary-img">
                        </a>
                    </div>
                    <div class="product-name">
                        <a asp-controller="Single_product" asp-action="Index" title="Fusce aliquam">Fusce aliquam</a>
                    </div>
                    <div class="price-rating">
                        <span class="old-price">$700.00</span>
                        <span>$800.00</span>
                        <div class="ratings">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="actions">
                        <button type="submit" class="cart-btn" title="Add to cart">add to cart</button>
                        <ul class="add-to-link">
                            <li><a class="modal-view" data-target="#productModal" data-toggle="modal" href="#"> <i class="fa fa-search"></i></a></li>
                            <li><a href="#"> <i class="fa fa-heart-o"></i></a></li>
                            <li><a href="#"> <i class="fa fa-refresh"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>